body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E2D0C8;
}

header {
    background-color: #A9806F; 
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header-content {
    font-size: 24px;
}

.body-section {
    padding: 20px 0;
    text-align: center;
}


.data-preview-header {
    margin-top: 20px; 
}

.prediction-header h2,
.data-preview-header h2 {
    color: #71554A; 
}

.container {
    max-width: 800px; 
    margin: 0 auto;
    border: 2px solid #A9806F; 
    border-radius: 10px;
    padding: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

footer {
    background-color: #71554A; 
    color: #fff;
    padding: 20px;
    text-align: right;
}

.footer-content {
    position: relative;
}

.home-button {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    background-color: #A9806F; /* Light brown */
    border-radius: 5px;
}

.home-button:hover {
    background-color: #543F36; /* Darker brown */
}

.home-button::before {
    content: "\HOME";
    display: inline-block;
    margin-right: 8px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
