body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E2D0C8; /* Light brown */
}

header {
    background-color: #71554A; /* Dark brown */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header-content {
    margin-bottom: 20px;
}

.body-section {
    padding: 50px 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.team-member {
    flex-basis: 30%; /* Adjust width of team members */
}

.member-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.member-details {
    border: 2px solid #A9806F; /* Light brown */
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.member-details img {
    max-width: 100%;
    border-radius: 5px;
}

.footer-content {
    background-color: #71554A; /* Dark brown */
    color: #fff;
    padding: 20px;
    text-align: right;
}

.home-button {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    background-color: #A9806F; /* Light brown */
    border-radius: 5px;
}

.home-button:hover {
    background-color: #543F36; /* Darker brown */
    content: "\HOME";
}
